@import url(./normalize.css);
@import url(./reset.css);

/* 기본스타일 */
*, *::after, *::before{
  box-sizing: border-box;
}

/* 본문스타일 */
body {
  background:#000;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background:pink;
  padding: 0 30px;
  box-sizing: border-box;
  height: 15vh;
}
/* 비주얼 */
.visual{
  background:orange;
  height: 10vh;
}
/* 메인 */
.main{
  background:lightgreen;
  min-height: 450px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

.group1{
  background:gainsboro;
  width: 250px;
}
.group2{
  background:blueviolet;
  width: 380px;
}
.group3{
  background:crimson;
  width: 190px;
}
/* 슬로건 */
.slogan{
  background:skyblue;
  height: 10vh;
}
/* 푸터 */
.footer{
  background:gray;
}
.footer-inner{
  background:silver;
  height: 15vh;
}